body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  background: #fbfbfc;
  color: #1f2a37;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Jost',
    monospace;
}
